@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

figure.snip1186 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 100px;
  max-width: 200px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

figure.snip1186 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1186 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
  padding: 35px;
  vertical-align: top;
}

figure.snip1186 figcaption {
  box-shadow: inset 0 0 10px #000;
  position: absolute;
  top: 35px;
  left: 35px;
  right: 35px;
  bottom: 35px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-width: 0px 1px;
}

figure.snip1186 .icon,
figure.snip1186 .caption {
  overflow: hidden;
  width: 100%;
  position: absolute;
}

figure.snip1186 .icon {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 0;
}

figure.snip1186 .caption {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  bottom: 0;
}

figure.snip1186 p,
figure.snip1186 .icon span {
  display: table;
  margin: 0 auto;
  padding: 0 0px;
  position: relative;
  text-align: center;
  width: auto;
  font-size: 0.8em;
}

figure.snip1186 p:before,
figure.snip1186 .icon span:before,
figure.snip1186 p:after,
figure.snip1186 .icon span:after {
  position: absolute;
  height: 1px;
  content: '';
  background: white;
}

figure.snip1186 .icon span:before,
figure.snip1186 .icon span:after {
  width: 100%;
  top: 50%;
}

figure.snip1186 .icon span:before {
  left: -1000%;
}

figure.snip1186 .icon span:after {
  right: -1000%;
}

figure.snip1186 i,
figure.snip1186 p {
  color: white;
  background-color: #262626;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

figure.snip1186 i {
  display: inline-block;
  font-size: 32px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

figure.snip1186 p {
  padding: 10px 20px;
  border-radius: 45px;
}

figure.snip1186 p:before,
figure.snip1186 p:after {
  width: 150%;
  bottom: 50%;
}

figure.snip1186 p:before {
  left: -150%;
}

figure.snip1186 p:after {
  right: -150%;
}

figure.snip1186.blue {
  background-color: #0a212f;
}

figure.snip1186.blue i,
figure.snip1186.blue p {
  background-color: #1b557a;
}

figure.snip1186.red {
  background-color: #36100c;
}

figure.snip1186.red i,
figure.snip1186.red p {
  background-color: #81261d;
}

figure.snip1186.yellow {
  background-color: #583804;
}

figure.snip1186.yellow i,
figure.snip1186.yellow p {
  background-color: #b06f09;
}

figure.snip1186 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1186:hover img,
figure.snip1186.hover img {
  opacity: 0.5;
}

#a {
  display: table;
  margin: 0 auto;
  padding: 0 0px;
  position: relative;
  text-align: center;
  width: auto;
  font-size: 0.8em;
};
