/* body{
  background-color: #edebd7;
} */
/* main{
  border: 2px solid #cc338b;
  width: 75%;
  height: 800px;
  margin: auto;
  background-color: #6e675f; */

/* } */
nav {
  width: 960px;
  height: 70px;
  margin: auto;
  background-color: #78A1BB;

}

.navContainer {
  /* border: 2px solid red; */
  position:fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navButtons {
  /* border: 2px solid black; */
  /* display: flex; */
  justify-content: space-around;
  width: 100%;
}

.navButtons li {
  list-style: none;
}

body{
  font-family: arial;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.card{
  flex: 0 0 200px; margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  text-align: center;
}
.container img{
  max-width: 100%;
}
.texts{
  padding: 5px; margin-bottom:10px;
}
/* .texts button{
  border: none; padding: 5px 15px;
  background: #566270; color: #fff;
  font-weight: 600;
  transition: all 0.3s ease-in;
} */
/* .texts button:hover{
  background: #E0E3DA; color: #566270; cursor: pointer;
} */

