body{
  background-color: #edebd7;
}
main{
  border: 2px solid #cc338b;
  width: 75%;
  height: 800px;
  margin: auto;
  background-color: #6e675f;

}
nav {
  width: 960px;
  height: 70px;
  margin: auto;
  background-color: #78A1BB;

}

.navContainer {
  /* border: 2px solid red; */
  position:fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navButtons {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navButtons li {
  list-style: none;
}
